<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <%= form_for(task) do |f| %>
      <% if task.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= f.label :content, 'タスク名' %>
        <%= f.text_field :content, class: 'form-control'%>
      </div>
      
      <div class="form-group">
        <%- f.label :status, 'ステータス' %>
        <%= f.select :status, {"未対応" => "未対応", "対応中" => "対応中", "対応完了" => "対応完了"}, class: 'form-control' %>
      </div>
      
      <p><%= f.submit '登録', class: 'btn btn-primary' %></p>
      <p><%= link_to '＞タスク一覧へ', tasks_path %></p>
      
    <% end %>
  </div>
</div>