<h1>id = <%= @task.id %> を編集する</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content,'タスク名' %>
  <%= f.text_field :content %>
  <%= f.submit '更新する' %>
<% end %>

<%= link_to 'タスク一覧へ',tasks_path %>