<h1> id = <%= @task.id %> のタスク詳細</h1>

<div class="row">
  <table class="table table-bordered">
    <tr>
        <th class="col-xs-2" >id</th>
        <td><%= @task.id %></td>
    </tr>
    <tr>
      <th class="col-xs-2" >タスク名</th>
      <td><%= @task.content %></td>
    </tr>
    <tr>
      <th class="col-xs-2" >ステータス</th>
      <td><%= @task.status %></td>
    </tr>
</table>

<p>
<%= link_to 'タスクを編集する', edit_task_path(@task) , class: 'btn btn-default' %>
<%= link_to 'タスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger'  %>
</p>
<p><%= link_to '＞一覧に戻る', tasks_path  %></p>
